<!DOCTYPE html>
<html lang="en">
<head>
	<title>COVID Stats - Ontario</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mobile.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--===============================================================================================-->
</head>

<body>
    <div style="text-align: center; color:white;"><p>Download the <a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19/covid-alert.html">COVID Alert App!</a></p></div>
    <table>
    <caption>Overall Ontario Stats</caption>
    <thead>
        <tr>
        <th scope="col">Total New Cases</th>
        <th scope="col">Total Tests in last 24 hours</th>
        <th scope="col">Percent Positive (%)</th>
        <th scope="col">Current Active Cases</th>
        <th scope="col">Delta Active Cases (Week)</th>
        <th scope="col">Current Hospital Cases</th>
        <th scope="col">Delta Hospital Cases (Week)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td data-label="Total New Cases">1890</td>
        <td data-label="Total Tests in last 24 hours">3.89%</td>
        <td data-label="Percent Positive (%)">{{PercentPositive}}</td>
        <td data-label="Current Active Cases">{{ActiveCases}} (-62)</td>
        <td data-label="Delta Active Cases (Week)">{{DeltaWeekActiveCases}}</td>
        <td data-label="Current Hospital Cases">{{TotalHospitalizations}} (+17); {{TotalICUCases}} in ICU</td>
        <td data-label="Delta Hospital Cases (Week)">{{DeltaWeekHospitalizations}}</td>
        </tr>
    </tbody>
    </table>


    <table>
        <caption>GTA Summary</caption>
        <thead>
            <tr>
            <th scope="col">Health District</th>
            <th scope="col">New Cases Today</th>
            <th scope="col">Cases Today (Per 100k)</th>
            <th scope="col">Cases Yesterday</th>
            </tr>
        </thead>
        <tbody>
            {{GTARows|safe}}
        </tbody>
    </table>

    <table>
        <caption>Non-GTA Summary</caption>
        <thead>
            <tr>
            <th scope="col">Health District</th>
            <th scope="col">New Cases Today</th>
            <th scope="col">Cases Today (>{{Per100k}} Per 100k)</th>
            <th scope="col">Cases Yesterday</th>
            </tr>
        </thead>
        <tbody>
            {{OutsideRows|safe}}
        </tbody>
	</table>
    <div style="text-align: center; color:white;"><p>Made by: <a href="https://www.linkedin.com/in/rohit-thakur-76558579/">Rohit</a></p></div>
	<div style="text-align: center; color:white;"><p>Last Updated: {{LastUpdated}}</p></div>


</body>

</html>
